/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

nav {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.container {
  align-items: center;
  justify-content: space-between;
}

a {
  margin: 0.5rem;
  padding: 0.4rem;
  color: black;
}

.spotify {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
}

.landing {
  position: relative;
  top: 14vh;
}

.landing>img {
  width: 100%;
  height: 45rem;
}

h1,
span {
  color: #FFF;
}

h1 {
  font-size: 4.2rem;
}

span {
  font-size: 1.4rem;
  text-align: -webkit-center;
}

.title {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -83vh;
}


.content>h2 {
  border-bottom: 5px solid #00B172;
  text-align: center;
  width: fit-content;
  position: relative;
  left: 39vw;
  font-size: 2rem;
  margin: 1rem;
}

.row > h3 {
  color: #00B172;
}

.icon {
  width: 8rem;
  height: 8rem;
}

.items {
  margin: 2rem 11rem;
}

.row {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 3.5rem;
}

.gray {
  color: gray;
  max-width: 10rem;
}

.kanye{
  background-color: #00B172;
  margin: 2rem;
  height: 60rem;
}

.kanye > h2{
  color:#FFF;
  font-size: 2rem;
  border-bottom: 4px solid #FFF;
  width: fit-content;
  padding: 0.5rem;
  margin-left: 5.6rem;
padding-top: 4rem;

}

.description > h3 {
  color:#FFF;
  font-size: 2.3rem;
    font-weight: 500;
}

.description > p{
  color:#FFF;
  font-size: 1.3rem;
  font-weight:lighter;
  padding:1.2rem 0;
}

.description{
  flex-direction: column;
  margin: 1rem;
}

.column{
  flex-direction: column;
  max-width: 21rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.white-logo{
  height: 7rem;
  width: auto;
  position: relative;
  bottom: 145vh;
  left: 45vw;
}

.spotify-app{
  height: 50rem;
  width: auto;
  position: relative;
  left: 51vw;
  bottom: 91vh;
}

@media only screen and (max-width: 600px){
  nav{
    max-width:8rem;
  }

  .title{
    top:-69vh;
  }
  .title > h1{
    font-size: 1.8rem;
  }

  .title > span {
    font-size: 1rem;
    padding: 0.5rem;
    width: 15rem;
  }

  .landing>img {
    width: auto;
  }

  .content>h2{
    left: 19vw;
    max-width: 16rem;
    margin: 1rem 0;
  }
  
  .row{
    padding: 1rem;
    gap: 0;
  }

  .items{
    margin: 0;
    flex-direction: column;
  }

  .kanye > h2{
    margin: 0.5rem;
    text-align: start;
    max-width: 12rem;
  }

  .white-logo{
    display: none;
  }

  .spotify-app {
    position: static;
    height: 38rem;
    width: auto;
    margin-top: 14rem;
    left: 0;
    bottom: 0;
}

  .column{
    margin-left: 0rem;
  }
}